
.container-pieces {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}


.new-form form {
  background-color: white;
  border-radius: 16px;
  margin-bottom: 8px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.form-group {
  border: 1px solid red;
}
.form-control {
  padding: 8px;
}
