<div class="art-card">
  <h3 class="art-piece-pricing">96€</h3>
  <img src="https://source.unsplash.com/random"style="background-image linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" alt="artpiece1">
  <div class="art-piece-infos">
    <div>
      <h2>Title here</h2>
    </div>
    <p>Short description here!</p>
   <a rel="stylesheet" href="#">  <h4>Louer cette oeuvre</h4> </a>
  </div>
</div>