
<div class="art-card">
  <h3 class="art-piece-pricing">96€</h3>
  <% if piece.photo_url.present? %>
    <%= image_tag(piece.photo_url,  alt: "artpiece1", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))") %>
  <% else %>
  <%= image_tag("paysage.jpg", :alt => "photo-paysage") %>
  <% end %>
  <div class="art-piece-infos">
    <div>
      <h2>Title here</h2>
         <h4><%= link_to "En savoir plus", piece_path(piece) %></h4>
    </div>
  </div>
</div>
