<div class="container">
  <h1>Bienvenue sur My MasterPiece 🎨<h1>

  <div class="btn btn-info"> Je veux mettre mon oeuvre en location </div>
  <div class="btn btn-info"> Je veux louer une oeuvre </div>

</div>
