<div class="container max-height-100vh">
  <h1>Bienvenue sur My MasterPiece 🎨<h1>
  <div class="btn btn-info"> Je veux mettre mon oeuvre en location </div>
  <div class="row">
    <% 10.times do %>
      <%= render "shared/card_piece" %>
    <% end %>
  </div>
</div>
