
.art-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.art-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.art-card h2 {
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.art-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.art-card .art-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.art-card-infos .art-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
